<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head') %>

		<title>Movie Project</title>
	</head>
	<body>
		<%- include('partials/nav') %>

		<h1>Books</h1>
		<div class="book-container">
			<% for (book of books) { %>
			<div class="book-row">
				<a href="books/<%= book._id %>">
					<img src="/images/<%= book.image %>" alt="<%= book.title %>" />
				</a>
				<p><%= book.title %></p>
				<p><em>by</em> <%= book.author %></p>
			</div>
			<% } %>
		</div>
	</body>
</html>
